language: python
python:
- "3.6"
services:
- docker
script:
- python -m pytest -v --cov=buzz --cov-report xml
after_success:
- if [ "$TRAVIS_BRANCH" == "master" ]; then docker login -u $DOCKER_USER -p $DOCKER_PASS;
  docker build -t $TRAVIS_REPO_SLUG .; docker push $TRAVIS_REPO_SLUG; fi
- if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then codeclimate-test-reporter; fi
- if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then pip install codacy-coverage && python-codacy-coverage -r coverage.xml; fi